<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" async="" src="http://www.google-analytics.com/plugins/ua/linkid.js"></script>
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-64267508-1', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');

	    </script>
	    <meta name="description" content="disc|zump is a social disc golf inventory network enabling users to organize, maintain and share collections across any internet-enabled device." />
        <link rel="shortcut icon" href="/static/logo/favicon.ico">
        <meta name="google-site-verification" content="NnxTn6Aky5tbZ029ca1tbLozYyYkl0xMeTcP_IWu3hI" />
        {{#if isMobile}}
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	{{/if}}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <style type="text/css">
            body { padding-top: 70px; }
        </style>
        <script language="javascript">
            var image = new Image();
            image.src = '/static/logo/logo_small.svg';
            
            var image2 = new Image();
            image2.src = '/static/logo/logo_block.svg';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/jashkenas/underscore/master/underscore.js"></script>
        {{{_sections.head}}}
    </head>
    <body>
        {{#unless isIndex}}
        <nav class="zump-navbar navbar-inverse zump-navbar-fixed-top" role="navigation">
            <div class="container-fluid full-height">
                {{#if user}}
                    {{#if isMobile}}
                        <div class="navbar-left navbar-btn-container full-height float-left">
                            <div class="navbar-btn-list">
                                <div class="mobile-btn" id="nav-settings"><div><i class="fa fa-gears fa-lg"></i></div></div>
                            </div>
                        </div>
                        <div class="navbar-right navbar-btn-container full-height float-right">
                            <div class="navbar-btn-list">
                                <div class="mobile-btn float-right" id="nav-user"><div><i class="fa fa-user fa-lg"></i></div></div>
                            </div>
                        </div>
        				<div class="navbar-center navbar-btn-container full-height">
                            <div class="navbar-btn-list">
                                <a href="/" rel="external"><img src="/static/logo/logo_text.svg" class="nav-logo small"></a>
                            </div>
                        </div>
				    {{else}}
                        <div class="zump-navbar-header float-left">
                            <a href="/"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                        </div>
                        <div class="navbar-btn-container full-height float-right">
                            <div class="navbar-btn-list">
                                <ul class="zump-nav">
                                    <li class="zump-navbar-dropdown">
                                        {{#if image}}
                                            <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="{{image}}"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                        {{else}}
                                            
                                            <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="/static/logo/logo_high_nobg.svg"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                        {{/if}}
                                        <ul class="zump-navbar-dropdown-menu dropdown-menu" role="menu">
                                            <li><a href="#" id="menu-tutorial"><span><i class="fa fa-info-circle fa-tools"></i></span>Tutorial</a></li>
                                            <li><a href="#" id="menu-feedback"><span><i class="fa fa-comment fa-tools"></i></span>Feedback</a></li>
                                            {{#if admin}}<li><a href="/admin"><span><i class="fa fa-wrench fa-tools"></i></span>Admin Console</a></li>{{/if}}
                                            <li><a href="/logout" data-ajax="false"><span><i class="fa fa-sign-out fa-tools"></i></span>Logout</a></li>
                                        </ul>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                {{else}}
                    {{#if isMobile}}
                        {{#or2 isDashboard isPublicPage}}
                        <div class="navbar-left navbar-btn-container full-height float-left">
                            <div class="navbar-btn-list">
                            </div>
                        </div>
                        <div class="navbar-right navbar-btn-container full-height float-right">
                            <div class="navbar-btn-list">
                                <div class="mobile-btn float-right" id="nav-user"><div><i class="fa fa-user fa-lg"></i></div></div>
                            </div>
                        </div>
        				<div class="navbar-center navbar-btn-container full-height">
                            <div class="navbar-btn-list">
                                <a href="/" rel="external"><img src="/static/logo/logo_text.svg" class="nav-logo small"></a>
                            </div>
                        </div>
                        {{else}}
                        <div class="zump-navbar-header float-left">
                            <a href="/" rel="external" data-ajax="false"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                        </div>
                        <div class="navbar-btn-container full-height float-right">
                            <div class="navbar-btn-list">
                                {{#if route}}
                                    <a href="/{{route.url}}"><span class="nav-btn">{{route.text}}</span></a>
                                {{/if}}
                                {{#if isPublicPage}}
                                    <a href="/login" rel="external" data-ajax="false"><span class="nav-btn">Sign In</span></a>
                                {{/if}}
                            </div>
                        </div>
                        {{/or2}}
                    {{else}}
                        <div class="zump-navbar-header float-left">
                            <a href="/" rel="external" data-ajax="false"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                        </div>
                        <div class="navbar-btn-container full-height float-right">
                            <div class="navbar-btn-list">
                                {{#if route}}
                                    <a href="/{{route.url}}"><span class="nav-btn">{{route.text}}</span></a>
                                {{/if}}
                                {{#if isLoggedIn}}
                                    <a href="/" rel="external" data-ajax="false"><span class="nav-btn">Dashboard</span></a>
                                {{else}}
                                {{#if isPublicPage}}
                                    <a href="/login" rel="external" data-ajax="false"><span class="nav-btn">Sign In</span></a>
                                    <a href="/signup" rel="external" data-ajax="false"><span class="nav-btn">Sign Up</span></a>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                    
                {{/if}}
            </div>
        </nav>
        {{/unless}}
        <script src="/static/js/main.js"></script>
        {{#if isMobile}}
        {{#or2 isPublicPage isDashboard}}
        <div data-role="panel" id="options-panel" data-position="right" data-display="reveal" data-position-fixed="true" >
            <div class="ui-panel-inner">
                <div class="panel panel-main" id="options-container">
                    <ul class="options-menu">
                        {{#if isDashboard}}
                        <li><a href="/logout" rel="external"><span><i class="fa fa-sign-out"></i></span>Log Out</a></li>
                        {{else}}
                        <li><a href="/login" rel="external"><span><i class="fa fa-sign-in"></i></span>Sign In</a></li>
                        <li><a href="/signup" rel="external"><span><i class="fa fa-user-plus"></i></span>Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        {{/or2}}
        {{/if}}
        {{{body}}}
    </body>
</html>
