<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script>
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-64267508-1', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');

	    </script>
	    <meta name="description" content="disc|zump is a social disc golf inventory network enabling users to organize, maintain and share collections across any internet-enabled device." />
        <link rel="shortcut icon" href="/static/logo/favicon.ico">
        <meta name="google-site-verification" content="NnxTn6Aky5tbZ029ca1tbLozYyYkl0xMeTcP_IWu3hI" />
        {{#if isMobile}}
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	{{/if}}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {{#if isRelease}}
        <link rel="stylesheet" href="/static/css-dist/main.min.css">
        {{else}}
        <link rel="stylesheet" href="/static/css/main.css">
        {{/if}}
        <style type="text/css">
            body { padding-top: 70px; }
        </style>
        <script language="javascript">
            var image = new Image();
            image.src = '/static/logo/logo_small.svg';
            
            var image2 = new Image();
            image2.src = '/static/logo/logo_block.svg';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/jashkenas/underscore/master/underscore.js"></script>
        <script src="/static/js-dist/jquery.html5-placeholder-shim.min.js"></script>
        {{{_sections.head}}}
    </head>
    <body>
        {{#unless isIndex}}
        <nav class="zump-navbar navbar-inverse zump-navbar-fixed-top" role="navigation">
            <div class="container-fluid full-height">
                {{#if user}}
                <div class="zump-navbar-header float-left">
                    <a href="/"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                </div>
                <div class="navbar-btn-container full-height float-right">
                    <div class="navbar-btn-list">
                        <ul class="zump-nav">
                            <li class="zump-navbar-dropdown">
                                {{#if userString.image}}
                                    <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="{{userString.image}}"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                {{else}}
                                    <a href="#" class="dropdown-toggle image-link" data-toggle="dropdown" role="button" aria-expanded="false" id="nav-account"><img src="/static/logo/logo_high_nobg.svg"/><span><i class="fa fa-angle-double-down fa-lg"></i></span></span></a>
                                {{/if}}
                                <ul class="zump-navbar-dropdown-menu dropdown-menu" role="menu">
                                    {{#if isDashboard}}
                                    <li><a href="#" id="menu-tutorial"><span><i class="fa fa-info-circle fa-tools"></i></span>Tutorial</a></li>
                                    <li><a href="/faq"><span><i class="fa fa-question-circle fa-tools"></i></span>FAQ</a></li>
                                    <li><a href="#" id="menu-feedback"><span><i class="fa fa-comment fa-tools"></i></span>Feedback</a></li>
                                    {{#if admin}}<li><a href="/admin"><span><i class="fa fa-wrench fa-tools"></i></span>Admin Console</a></li>{{/if}}
                                    {{else}}
                                    <li><a href="/dashboard"><span><i class="fa fa-tachometer fa-tools"></i></span>Dashboard</a></li>
                                    {{/if}}
                                    <li><a href="/logout" data-ajax="false"><span><i class="fa fa-sign-out fa-tools"></i></span>Logout</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
                {{else}}
                <div class="zump-navbar-header float-left">
                    <a href="/" rel="external" data-ajax="false"><img src="/static/logo/logo_text.svg" class="nav-logo"></a>
                </div>
                <div class="navbar-btn-container full-height float-right">
                    <div class="navbar-btn-list">
                        {{#if route}}
                            <a href="/{{route.url}}"><span class="nav-btn">{{route.text}}</span></a>
                        {{else}}
                            <a href="/login" rel="external" data-ajax="false"><span class="nav-btn">Sign In</span></a>
                            <a href="/signup" rel="external" data-ajax="false"><span class="nav-btn">Sign Up</span></a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </nav>
        {{/unless}}
        {{#if isRelease}}
        <script src="/static/js-dist/main.min.js"></script>
        {{else}}
        <script src="/static/js/main.js"></script>
        {{/if}}
        {{{body}}}
    </body>
</html>