<!doctype html>
<html>
<head>
    <title>DiscZump - Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    {{#if info.text}}
    <div class="alert alert-info page-alert" role="alert">
    	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    	{{#if info.title}}<strong>{{info.title}}:</strong> {{/if}}{{info.text}}
    </div>
    {{/if}}
    <div id="loading-screen">
        <div class="loader-sprite"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                <div class="sidebar-nav-toolbar">
                    <span class="sidebar-icon sidebar-nav-select sidebar-nav-indicator active pull-left" nav-select="#sidebar-home"><i class="fa fa-home fa-toolbar-icon"></i></span>
                    <span class="sidebar-icon sidebar-nav-select sidebar-nav-indicator pull-left" nav-select="#sidebar-inbox"><i class="fa fa-envelope fa-toolbar-icon"></i><span id="message-count"></span></span>
                    <span class="sidebar-icon sidebar-nav-select sidebar-nav-indicator pull-left" nav-select="#sidebar-profile"><i class="fa fa-users fa-toolbar-icon"></i></span>
                    <span class="toolbar-border"></span>
                    <div class="clearfix"></div>
                </div>
                <ul class="nav-sidebar no-select" id="sidebar-home">
                    <h5 class="sidebar-section-header"><span>Actions</span><hr /><div class="clearfix"></div></h5>
                    <li class="sidebar-select nav" pg-select="#pg-dashboard"><span class="float-left fa-tools"><i class="fa fa-tachometer fa-sidebar-icon"></i></span><span class="sidebar-select-text">My Dashboard</span></li>
                    <li class="sidebar-select nav" pg-select="#pg-modify-disc"><span class="float-left fa-tools"><i class="fa fa-plus fa-sidebar-icon"></i></span><span class="sidebar-select-text">Add Disc</span></li>
                    <h5 class="sidebar-section-header"><span>Settings</span><hr /><div class="clearfix"></div></h5>
                    <li class="sidebar-select nav" pg-select="#pg-settings"><span class="float-left fa-tools"><i class="fa fa-user fa-sidebar-icon"></i></span><span class="sidebar-select-text">Account</span></li>
                    <li class="sidebar-select nav" pg-select="#pg-preferences"><span class="float-left fa-tools"><i class="fa fa-cogs fa-sidebar-icon"></i></span><span class="sidebar-select-text">Preferences</span></li>
                </ul>
                <ul class="nav-sidebar" id="sidebar-search" style="display: none;">
                    <input type="text" class="search-format" id="search-all" placeholder="Search Inventory...">
                    <h5 class="sidebar-section-header sidebar-results-ref"><span>Results</span><hr /></h5><div class="clearfix"></div>
                    <div class="sidebar-results-container" id="search-results-container">
                    </div>
                </ul>
                <ul class="nav-sidebar" id="sidebar-filter" style="display: none;">
                    <h5 class="sidebar-section-header sidebar-results-ref"><span>Filters</span><hr /></h5><div class="clearfix"></div>
                    <div id="current-filter-container"></div>
                    <div class="sidebar-results-container" id="filter-container"></div>
                </ul>
                <ul class="nav-sidebar" id="sidebar-profile" style="display: none;">
                    <div id="profile-search-container">
                        <input type="text" class="search-format" id="search-profile" placeholder="Search Profiles...">
                        <h5 class="sidebar-section-header sidebar-results-ref"><span>Profiles</span><hr /></h5><div class="clearfix"></div>
                        <div id="profile-loading">
                            <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
                        </div>
                        <ul class="sidebar-results-container" id="profile-list"></ul>
                    </div>
                </ul>
                <ul class="nav-sidebar" id="sidebar-inbox" style="display: none;">
                    <input type="text" class="search-format" id="search-inbox" placeholder="Search Inbox...">
                    <h5 class="sidebar-section-header sidebar-results-ref"><span>Inbox</span><hr /></h5><div class="clearfix"></div>
                    <ul class="thread-container-list sidebar-results-container" id="inbox-list">
                    </ul>
                </ul>
            </div>
            <div class="page-view">
                <div class="page" id="pg-profile">
                    <div class="row">
                        <div class="page-title">
                            <div id="profile-username"></div>
                            <div id="profile-pdga"></div>
                            <div class="clearfix"></div>
                        </div><hr>
                    </div>
                    <div id="profile-view">
                        <div class="row">
                            <div class="profile-view-left">
                                <div id="profile-view-image-container"></div>
                            </div>
                            <div class="profile-view-right">
                                <div class="row profile-data-container">
                                    <div class="profile-label-row">
                                        <span id="profile-name"></span>
                                    </div>
                                    <div class="profile-data-row">
                                        <span id="profile-location" class="city-state" value=""></span>
                                    </div>
                                    <div class="profile-data-row">
                                        <span>Member Since:  <span id="profile-join-date"></span></span>
                                    </div>
                                    <div class="profile-data-row">
                                        <span><span id="profile-disc-count"></span> Public Discs</span>
                                    </div>
                                </div>
                                <div class="row profile-action-container">
                                    <button id="profile-send-message" class="btn btn-primary">
                                        <span><i class="fa fa-envelope fa-tools"></i>Send Message</span>
                                    </button>
                                    <button id="profile-view-dashboard" class="btn btn-default">
                                        <span><i class="fa fa-tachometer fa-tools"></i>View Dashboard</span>
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row" id="public-disc-table">
                            <div class="row-label">Public Discs<span class="pull-right dz-link" id="show-dashboard">View All</span></div>
                            <div class="public-disc-row-container">
                                <div class="public-disc-row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" id="pg-modify-disc">
                    <div class="row">
                        <div class="page-btn-container">
                            <span id="clone-disc" class="page-title-btn" discId=""><i class="fa fa-files-o" title="Clone Disc"></i></span>
                            <span class="page-title-btn dz-page-back"><i class="fa fa-times" title="Return"></i></span>
                            {{!--<span class="nav-btn nav-btn-small" id="clone-disc"><span><i class="fa fa-files-o fa-tools"></i></span>Clone</span>--}}
                            {{!--<span class="nav-btn nav-btn-small dz-page-back"><i class="fa fa-reply"></i> Return</span>--}}
                            <div class="clearfix"></div>
                        </div>
                        <div class="page-title">Add Disc</div>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <div id="disc-action-container">
                        <form class="form-horizontal" id="modify-disc-form" role="form" discId="" autocomplete="off">
                            <div class="row-label">General</div>
                            <div class="modify-form-section">
                				<div class="form-group">
                	                <label class="col-sm-2 control-label"><span class="required-field">* </span>Brand</label>
                	                <div class="col-sm-4">
                	                    <input type="text" id="disc-brand" class="form-control text-assist" param="brand">
                	                </div>
                	                <label class="col-sm-2 control-label"><span class="required-field">* </span>Name</label>
                	                <div class="col-sm-4">
                	                    <input type="text" id="disc-name" class="form-control text-assist" param="name">
                	                </div>
                	            </div>
                	             <div class="form-group">
                	                <label class="col-sm-2 control-label">Type</label>
                	                <div class="col-sm-4">
                	                    <select id="disc-type" class="form-control" param="type">
                	                        <option value="" selected></option>
                	                        <option value="Distance Driver">Distance Driver</option>
                	                        <option value="Fairway Driver">Fairway Driver</option>
                	                        <option value="Mid-range">Mid-range</option>
                	                        <option value="Putt/Approach">Putt/Approach</option>
                	                        <option value="Mini">Mini</option>
                	                     </select>
                	                </div>
                	                <label class="col-sm-2 control-label">Material</label>
                	                <div class="col-sm-4">
                	                    <input type="text" id="disc-material" class="form-control text-assist" param="material">
                	                </div>
                	            </div>
                	            <div class="form-group">
                	                <label class="col-sm-2 control-label">Weight</label>
                	                <div class="col-sm-4">
                	                    <input type="text" id="disc-weight" class="form-control text-assist" param="weight">
                	                </div>
                	                <label class="col-sm-2 control-label">Color</label>
                	                <div class="col-sm-4">
                	                    <input type="text" id="disc-color" class="form-control text-assist" param="color">
                	                </div>
                	            </div>
                            </div>
            	            <div class="row-label">Advanced</div>
            	            <div class="modify-form-section">
                	            <div class="form-group">
        			                <label class="col-sm-2 control-label">Speed</label>
        			                <div class="col-sm-3">
        			                    <input type="text" id="disc-speed" class="form-control text-assist" param="speed">
        			                </div>
        			                <label class="col-sm-3 control-label">Glide</label>
        			                <div class="col-sm-3">
        			                    <input type="text" id="disc-glide" class="form-control text-assist" param="glide">
        			                </div>
        			            </div>
        			            <div class="form-group">
        			                <label class="col-sm-2 control-label">Turn</label>
        			                <div class="col-sm-3">
        			                    <input type="text" id="disc-turn" class="form-control text-assist" param="turn">
        			                </div>
        			                <label class="col-sm-3 control-label">Fade</label>
        			                <div class="col-sm-3">
        			                    <input type="text" id="disc-fade" class="form-control text-assist" param="fade">
        			                </div>
        			            </div>
        			            <div class="form-group tag-input-group">
        			                <label class="col-sm-2 control-label">Tags</label>
        			                <div class="col-sm-10">
        			                    <div style="position:relative">
        			                        <div class="input-group add-disc-tag-container">
        			                            <input type="text" class="form-control" id="add-disc-tag">
        			                            <span class="input-group-btn">
        			                                <button class="btn btn-default" id="add-custom-tag" type="button"><span><i class="fa fa-angle-double-down"></i></span></button>
        			                            </span>
        			                        </div>
        			                    </div>
        			                </div>
        			                <div class="col-sm-10 col-sm-offset-2">
        			                    <div id="tag-list-container">
        			                    </div>
        			                </div>
        			            </div>
        			            <div class="form-group">
        			                <label class="col-sm-2 control-label">Notes</label>
        			                <div class="col-sm-10">
        			                    <textarea id="disc-notes" class="form-control create-disc-textarea" rows="3" param="notes"></textarea>
        			                </div>
        			            </div>
        			            <div class="form-group">
        			                <label class="col-sm-2 control-label">Public</label>
        			                <div class="col-sm-4">
        			                    <input type="checkbox" name="visible" param="visible" id="disc-visibility">
        			                </div>
        			                <label class="col-sm-2 control-label allow-icon">Condition<i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="condition"></i></label>
        			                <div class="col-sm-3">
        			                    <input type="number" id="disc-condition" class="form-control text-assist" min="-3" max="10" param="condition">
        			                </div>
                                </div>
                            </div>
                            <div id="current-images-section">
                                <div class="row-label">Current Images</div>
                                <div class="modify-form-section">
                                    <div class="image-list">
        				                <div class="image-list-container image-list-container-simple">
        				                    <div class="image-list-table" id="existing-image-list">
        				                    </div>
        				                </div>
        				            </div>
        				        </div>
        				    </div>
    			            <div class="row-label">Add Images</div>
    			            <div class="modify-form-section">
        			            <div class="image-list" id="dropzone-area">
    		                        <div class="image-list-container" id="dropzone-container">
    		                            <div class="image-list-table" id="dropzone-previews">
    		                                <div class="image-item-container image-add" id="dropzone-trigger">
    		                                    <div class="image-item">
    		                                        <div class="image-entity">
    		                                            <span class="image-default"><i class="fa fa-camera-retro fa-5x"></i></span>
    		                                        </div>
    		                                    </div>
    		                                </div>
    		                            </div>
    		                        </div>
    		                    </div>  
                            </div>
            	            <div class="modify-button-container">
            	                <a href="#" id="clear-modify-disc-form">Clear Form</a>
    		                    <button type="button" class="btn btn-primary" id="save-disc" discId=''><span><i class="fa fa-save fa-tools"></i></span>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page" id="pg-inbox">
                    <div class="row">
                        <div class="page-title">Thread: <span id="thread-title"></span></div><hr>
                    </div>
                    <div id="message-container">
                        <div id="load-messages">Load More...</div>
                    </div>
                    <div id="add-message-container">
                        <div class="send-container">
                            <span class="send-container-inner">
                                <div id="send-message-btn" class="hover-active"><span>Send <i class="fa fa-spinner fa-pulse" style="display: none;"></i></span></div>
                            </span>
                        </div>
                        <div class="add-message-text">
                            <textarea placeholder="Enter Message..." id="new-message"></textarea>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="create-message-option no-select"><span id="message-on-enter"><i class="fa fa-check-square"></i> Send Message on Enter</span></div>
                    </div>
                </div>
                <div class="page" id="pg-disc-view">
                    <div class="row">
                        <div class="page-btn-container">
                            <span id="view-disc-edit" class="page-title-btn" discId=""><i class="fa fa-pencil" title="Edit Disc"></i></span>
                            <span class="page-title-btn dz-page-back"><i class="fa fa-times" title="Return"></i></span>
                            {{!--<span class="nav-btn nav-btn-small dz-page-back"><i class="fa fa-reply"></i> Return</span>--}}
                            <div class="clearfix"></div>
                        </div>
                        <div class="page-title" id="view-disc-title">Disc</div>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <div id="disc-view">
                        <div class="image-block-display">
                            <div class="image-block">
                                <div class="image-block-frame">
                                    <img src="/static/logo/logo_small.svg" thumbnailId="logo" class="fit-parent" id="view-disc-image">
                                </div>
                            </div>
                            <div class="image-list">
                                <div class="image-list-container image-list-container-simple">
                                    <div class="image-list-table" id="view-disc-image-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-info-container">
                            <div class="view-disc-row disc-info">
                                <div class="flight-container">
                                    <table class="flight-number-table">
                                        <tbody>
                                            <tr>
                                                <td class="flight-number-table-cell">
                                                    <p class="flight-number-table-cell-title">Speed</p>
                                                    <p class="flight-number-table-cell-value filterable filterable-text" id="view-disc-speed" prop="speed">--</p>
                                                </td>
                                                <td class="flight-number-table-cell">
                                                    <p class="flight-number-table-cell-title">Glide</p>
                                                    <p class="flight-number-table-cell-value filterable filterable-text" id="view-disc-glide" prop="glide">--</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="flight-number-table-cell">
                                                    <p class="flight-number-table-cell-title">Turn</p>
                                                    <p class="flight-number-table-cell-value filterable filterable-text" id="view-disc-turn" prop="turn">--</p>
                                                </td>
                                                <td class="flight-number-table-cell">
                                                    <p class="flight-number-table-cell-title">Fade</p>
                                                    <p class="flight-number-table-cell-value filterable filterable-text" id="view-disc-fade" prop="fade">--</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="view-disc-info">
                                    <div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Type:</div>
                                            <div class="info-data filterable filterable-text" id="view-disc-type" prop="type">-</div>
                                        </div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Material:</div>
                                            <div class="info-data filterable filterable-text" id="view-disc-material" prop="material">-</div>
                                        </div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Color:</div>
                                            <div class="info-data filterable filterable-text" id="view-disc-color" prop="color">-</div>
                                        </div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Weight:</div>
                                            <div class="info-data filterable filterable-text" id="view-disc-weight" prop="weight">-</div>
                                        </div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Condition:</div>
                                            <div class="info-data filterable filterable-text" id="view-disc-condition" prop="condition">-</div>
                                        </div>
                                        <div class="view-disc-info-row">
                                            <div class="info-label">Owner:</div>
                                            <div class="info-data" id="view-disc-owner" userId="">-</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="view-disc-row short">
                                <div class="info-label">Tags:</div>
                                <div class="info-data" id="view-disc-tagList">
			                     </div>
                            </div>
                            <div class="view-disc-row short">
                                <div class="info-label">Notes:</div>
                                <div class="info-data" id="view-disc-notes">-</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="page" id="pg-dashboard">
                    <div class="row">
                        <div class="page-btn-container">
                            <div class="dz-tri-switch" id="dashboard-view-switch">
                                <div class="dz-switch-opt" value="inventory">
                                    <span><i class="fa fa-list-ul"></i></span>
                                </div>
                                <div class="dz-switch-opt" value="gallery">
                                    <span><i class="fa fa-th-large"></i></span>
                                </div>
                                <div class="dz-switch-opt" value="statistics">
                                    <span><i class="fa fa-pie-chart"></i></span>
                                </div>
                            </div>
                            {{!--<span id="" class="page-title-tri-btn"><i class="fa fa-list-ul" title="List View"></i></span>--}}
                            {{!--<span id="" class="page-title-tri-btn active"><i class="fa fa-th-large" title="Gallery View"></i></span>--}}
                            {{!--<span id="" class="page-title-tri-btn"><i class="fa fa-pie-chart" title="Statistics View"></i></span>--}}
                        </div>
                        <div class="page-title"><span id="public-dashboard" class="hover-active dashboard-title"></span><span class="dashboard-title">'s </span>Dashboard</div>
                        <hr>
                    </div>
                    <div class="row dashboard-view" id="view-inventory">
                        <div class="disc-inventory-header" id="inventory-header">
                            <div class="header-static header-row text-center no-select">
                                <span class="paginate-container">
                                    <ul class="list-inline form-control-static" id="paginate-nav">
                                        <li class="page-static" id="page-back"><span class="glyphicon glyphicon-chevron-left"></span></li>
                                        <li class="page-static" id="page-forward"><span class="glyphicon glyphicon-chevron-right"></span></li>
                                    </ul>
                                </span>
                                <span class="float-left dashboard-header-left">
                                    <p class="form-control-static header-text">Display:</p>
                                    <select class="header-select" id="paginate-display-count">
                                        <option value="20">20</option>
                                        <option value="40">40</option>
                                        <option value="60">60</option>
                                        <option value="80">80</option>
                                        <option value="100">100</option>
                                        <option value="All">All</option>
                                    </select>
                                    <span class="results-header-btn" id="results-header-sort">
                                        <i class="fa fa-sort"></i> Sort
                                    </span>
                                </span>
                                <span class="float-right dashboard-header-right">
                                    <span class="results-header-btn sidebar-nav-indicator" id="inventory-search-toggle" nav-select="#sidebar-search">
                                        <i class="fa fa-search"></i> Search
                                    </span>
                                    <span class="results-header-btn sidebar-nav-indicator" id="dashboard-filter-toggle" nav-select="#sidebar-filter">
                                        <i class="fa fa-filter"></i> Filter
                                        <span id="filter-count"></span>
                                    </span>
                                    <span class="header-text" id="results-header-count">
                                        Results: 0
                                    </span>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="header-dynamic header-row" id="disc-inventory-header-dynamic">
                                <div class="header-sort-container">
                                    <div class="current-sort-container">
                                    </div>
                                    <div class="add-sort-container no-select">
                                        <div class="text-center"><span><i class="fa fa-plus-circle"></i></span> Add Field</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="disc-inventory-container">
                            <div class="disc-inventory-body" id="filter-results">
                            </div>
                        </div>
                    </div>
                    <div class="row dashboard-view" id="view-gallery">
                        <div id="gallery-container"></div>
                    </div>
                    <div class="row dashboard-view" id="view-statistics">
                        <div class="statistics-settings">
                            <div class="form-horizontal form-small">
                                <div class="form-group">
                                    <label for="graph-base" class="col-sm-3 col-sm-offset-1 control-label">Graph By
                                        <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="graph-base"></i>
                                    </label>
                                    <div class="col-sm-5">
                                        <select id="graph-base" class="form-control">
                                            <option value="brand">Brand</option>
                                            <option value="type">Type</option>
                                            <option value="material">Material</option>
                                            <option value="weight">Weight</option>
                                            <option value="color">Color</option>
                                            <option value="speed">Speed</option>
                                            <option value="glide">Glide</option>
                                            <option value="turn">Turn</option>
                                            <option value="fade">Fade</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="graph-type" class="col-sm-3 col-sm-offset-1 control-label">Graph Type
                                        <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="graph-type"></i>
                                    </label>
                                    <div class="col-sm-5">
                                        <select id="graph-type" class="form-control">
                                            <option value="pie">Pie</option>
                                            <option value="column">Column</option>
                                            <option value="doughnut">Doughnut</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-4">
                                        <button id="render-graph" class="btn btn-primary pull-right">Render</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row statistics-container">
                            <div id="statistics-plot"></div>
                        </div>
                    </div>
                </div>
                <div class="page" id="pg-settings">
                    <div class="row">
                        <div class="page-title">Account Settings</div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="profile-image">
                            {{#if user.local.image}}
                            <img src="{{user.local.image}}" />
                            {{else}}
                            <span class="user-default-image"><i class="fa fa-user"></i></span>
                            {{/if}}
                        </div>
                        <div class="profile-status">
                            <div class="data-table">
                                <div class="data-row">
                                    <div class="data-label">Status:</div>
                                    {{#if user.local.active}}
                                    <div class="data-value">Active</div>
                                    {{else}}
                                    <div class="data-value">Inactive</div>
                                    {{/if}}
                                </div>
                                <div class="data-row">
                                    <div class="data-label">Facebook:</div>
                                    {{#if user.facebook.id}}
                                    <div class="data-value">Linked - <span style="color: blue">{{user.facebook.email}}</span></div>
                                    {{else}}
                                    <div class="data-value">Not Linked</div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Personal Information</div>
                        <div class="form-horizontal form-small" id="account-form">
                            <div class="form-group">
                                <label for="account-first-name" class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="account-first-name" placeholder="First Name" value="{{user.local.firstName}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account-last-name" class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="account-last-name" placeholder="Last Name" value="{{user.local.lastName}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account-username" class="col-sm-3 control-label">Username
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="account-username"></i>
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="account-username" placeholder="Username" value="{{user.local.username}}">
                                </div>
                                <div class="col-sm-4 lh-input" id="account-username-feedback">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account-zip-code" class="col-sm-3 control-label">Zip Code</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="account-zip-code" placeholder="Zip Code" value="{{user.local.zipCode}}">
                                </div>
                                <div class="col-sm-4 lh-input" id="account-city-state">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account-pdga" class="col-sm-3 control-label">PDGA Number</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="account-pdga" placeholder="PDGA Number" value="{{user.local.pdgaNumber}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="account-save" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Actions</div>
                        <div class="account-actions-container">
                            <span class="account-btn">
                                <a href="/account/link">
                                    <button id="facebook-link" class="btn btn-primary"><span><i class="fa fa-facebook-square fa-tools"></i></span>Manage Facebook</button>
                                </a>
                            </span>
                            <span class="account-btn">
                                <button id="account-change-pwd" class="btn btn-default"><span><i class="fa fa-key fa-tools"></i></span>Change Password</button>
                            </span>
                            <span class="account-btn">
                                <button id="account-delete" class="btn btn-danger"><span><i class="fa fa-minus-circle fa-tools"></i></span>Delete Account</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="page" id="pg-preferences">
                    <div class="row">
                        <div class="page-title">Preferences
                            <a href="#" id="default-settings-restore" class="hover-active">Restore Default Preferences</a>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="row-label">Default Settings</div>
                        <div class="form-horizontal form-small" id="preferences-form">
                            <div class="form-group">
                                <label for="default-view" class="col-sm-3 control-label">View
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="default-view"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="default-view" class="form-control">
                                        <option value="inventory">Inventory</option>
                                        <option value="gallery">Gallery</option>
                                        <option value="statistics">Statistics</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="display-count" class="col-sm-3 control-label">Display Count
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="display-count"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="display-count" class="form-control">
                                        <option value="20">20</option>
                                        <option value="40">40</option>
                                        <option value="60">60</option>
                                        <option value="80">80</option>
                                        <option value="100">100</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="items-per-row" class="col-sm-3 control-label">Items Per Row
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="items-per-row"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="items-per-row" class="form-control">
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort-order-primary" class="col-sm-3 control-label">Primary Sort
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="primary-sort"></i>
                                </label>
                                <div class="col-sm-4">
                                    <select id="sort-order-primary" class="form-control">
                                        <option value="brand">Brand</option>
                                        <option value="name">Name</option>
                                        <option value="type">Type</option>
                                        <option value="material">Material</option>
                                        <option value="weight">Weight</option>
                                        <option value="color">Color</option>
                                        <option value="speed">Speed</option>
                                        <option value="glide">Glide</option>
                                        <option value="turn">Turn</option>
                                        <option value="fade">Fade</option>
                                        <option value="condition">Condition</option>
                                        <option value="createDate">Create Date</option>
                                    </select>
                                </div>
                                <label for="sort-order-primary-direction" class="col-sm-2 control-label">Direction</label>
                                <div class="col-sm-3">
                                    <select id="sort-order-primary-direction" class="form-control">
                                        <option value="Ascending">Ascending</option>
                                        <option value="Descending">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort-order-secondary" class="col-sm-3 control-label">Secondary Sort
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="secondary-sort"></i>
                                </label>
                                <div class="col-sm-4">
                                    <select id="sort-order-secondary" class="form-control">
                                        <option value="brand">Brand</option>
                                        <option value="name">Name</option>
                                        <option value="type">Type</option>
                                        <option value="material">Material</option>
                                        <option value="weight">Weight</option>
                                        <option value="color">Color</option>
                                        <option value="speed">Speed</option>
                                        <option value="glide">Glide</option>
                                        <option value="turn">Turn</option>
                                        <option value="fade">Fade</option>
                                        <option value="condition">Condition</option>
                                        <option value="createDate">Create Date</option>
                                    </select>
                                </div>
                                <label for="sort-order-secondary-direction" class="col-sm-2 control-label">Direction</label>
                                <div class="col-sm-3">
                                    <select id="sort-order-secondary-direction" class="form-control">
                                        <option value="Ascending">Ascending</option>
                                        <option value="Descending">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox" id="enable-secondary-sort"> Enable Secondary Sort
                                            <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="enable-secondary-sort"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="default-settings-save" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Colorize</div>
                        <div class="form-horizontal form-small" id="colorize-form">
                            <div class="form-group">
                                <label for="colorize-visibility" class="col-sm-6 control-label">Colorize Visibility
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="colorize-visibility"></i>
                                </label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="colorize-visibility">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-distance-driver" class="col-sm-6 control-label colorize-label">Distance Driver</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-distance-driver"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-fairway-driver" class="col-sm-6 control-label colorize-label">Fairway Driver</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-fairway-driver"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-mid-range" class="col-sm-6 control-label colorize-label">Mid-range</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-mid-range"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-putt-approach" class="col-sm-6 control-label colorize-label">Putt/Approach</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-putt-approach"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-mini" class="col-sm-6 control-label colorize-label">Mini</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-mini"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="colorize-save" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.js"></script>
    <script src="/static/js/jquery.canvasjs.min.js"></script>
    <script src="https://cdn.rawgit.com/exif-js/exif-js/master/exif.js"></script>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>