<!doctype html>
<html>
<head>
    <title>DiscZump - Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-slider.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    {{#if info.text}}
    <div class="alert alert-info page-alert" role="alert">
    	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    	{{#if info.title}}<strong>{{info.title}}:</strong> {{/if}}{{info.text}}
    </div>
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                <div class="sidebar-nav-toolbar">
                    <span class="sidebar-icon sidebar-nav-select active pull-left" nav-select="#sidebar-home"><i class="fa fa-home fa-toolbar-icon"></i></span>
                    <span class="sidebar-icon sidebar-nav-select pull-left" nav-select="#sidebar-inbox"><i class="fa fa-envelope fa-toolbar-icon"></i><span id="message-count"></span></span>
                    <span class="sidebar-icon sidebar-nav-select pull-left" nav-select="#sidebar-profile"><i class="fa fa-users fa-toolbar-icon"></i></span>
                    <span class="toolbar-border"></span>
                    <div class="clearfix"></div>
                </div>
                <input type="text" class="search-format" id="search-all" placeholder="Search...">
                <ul class="nav-sidebar no-select" id="sidebar-home">
                    <h5 class="sidebar-section-header"><span>Views</span><hr /><div class="clearfix"></div></h5>
                    <section id="section-views">
                    <li class="sidebar-select nav" pg-select="#pg-dashboard"><span class="float-left fa-tools"><i class="fa fa-tachometer fa-sidebar-icon"></i></span><span class="sidebar-select-text">Dashboard</span></li>
                    <li class="sidebar-select nav" pg-select="#pg-gallery"><span class="float-left fa-tools"><i class="fa fa-film fa-sidebar-icon"></i></span><span class="sidebar-select-text">Gallery</span></li>
                    <li class="sidebar-select nav" pg-select="#pg-statistics"><span class="float-left fa-tools"><i class="fa fa-pie-chart fa-sidebar-icon"></i></span><span class="sidebar-select-text">Statistics</span></li>
                    </section>
                    <h5 class="sidebar-section-header"><span>Actions</span><hr /><div class="clearfix"></div></h5>
                    {{!--<li class="sidebar-select" id="create-disc-modal"><span class="float-left fa-tools"><i class="fa fa-plus fa-sidebar-icon"></i></span><span class="sidebar-select-text">Add Disc</span></li>--}}
                    <li class="sidebar-select nav" pg-select="#pg-modify-disc"><span class="float-left fa-tools"><i class="fa fa-plus fa-sidebar-icon"></i></span><span class="sidebar-select-text">Add Disc</span></li>
                    <h5 class="sidebar-section-header"><span>Settings</span><hr /><div class="clearfix"></div></h5>
                    <li class="sidebar-select nav" pg-select="#pg-settings"><span class="float-left fa-tools"><i class="fa fa-user fa-sidebar-icon"></i></span><span class="sidebar-select-text">Account</span></li>
                    <li class="sidebar-select nav" pg-select="#pg-preferences"><span class="float-left fa-tools"><i class="fa fa-cogs fa-sidebar-icon"></i></span><span class="sidebar-select-text">Preferences</span></li>
                </ul>
                <ul class="nav-sidebar" id="sidebar-search" style="display: none;">
                    <div id="search-results-container">
                        <div class="result-section" id="results-name">
                            <h5 class="sidebar-section-header"><span>Name</span><hr /></h5><div class="clearfix"></div>
                            <div class="result-section-output">
                                <li class="result-item-empty">No Results</li>
                            </div>
                        </div>
                        <div class="result-section" id="results-brand">
                            <h5 class="sidebar-section-header"><span>Brand</span><hr /></h5><div class="clearfix"></div>
                            <div class="result-section-output">
                                <li class="result-item-empty">No Results</li>
                            </div>
                        </div>
                        <div class="result-section" id="results-tagList">
                            <h5 class="sidebar-section-header"><span>Tag</span><hr /></h5><div class="clearfix"></div>
                            <div class="result-section-output">
                                <li class="result-item-empty">No Results</li>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-sidebar" id="sidebar-filter" style="display: none;">
                    <h5 class="sidebar-section-header"><span>Current Filters</span><hr /></h5><div class="clearfix"></div>
                    <div id="current-filter-container"></div>
                    <h5 class="sidebar-section-header"><span>Filter</span><hr /></h5><div class="clearfix"></div>
                    <div id="filter-container"></div>
                </ul>
                <ul class="nav-sidebar" id="sidebar-profile" style="display: none;">
                    <h5 class="sidebar-section-header"><span>Profiles</span><hr /></h5><div class="clearfix"></div>
                    <ul class="" id="profile-list">
                        <li class="profile-item hover-active" userId="">
                            <div class="profile-item-image" style="background-image:url({{user.local.image}});"></div>
                            <div class="profile-item-details">
                                <div class="profile-item-details-inner">
                                    <div class="profile-item-label">Ben</div>
                                    <div class="profile-item-text">#68700</div>
                                    <div class="profile-item-text">Raleigh, NC</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="profile-item hover-active" userId="">
                            <div class="profile-item-image">
                                <span>
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="profile-item-details">
                                <div class="profile-item-details-inner">
                                    <div class="profile-item-label">Ben</div>
                                    <div class="profile-item-text">#68700</div>
                                    <div class="profile-item-text">Raleigh, NC</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    {{!--<div class="row profile-title-container">--}}
                    {{!--    <div id="profile-alias">Ben</div>--}}
                    {{!--    <div id="profile-pdga">#68700</div>--}}
                    {{!--</div>--}}
                    {{!--<div class="row profile-picture-container">--}}
                    {{!--    {{#if user.local.image}}--}}
                    {{!--    <img src="{{user.local.image}}">--}}
                    {{!--    {{else}}--}}
                    {{!--    <span><i class="fa fa-user"></i></span>--}}
                    {{!--    {{/if}}--}}
                    {{!--</div>--}}
                    {{!--<div class="row profile-action-container">--}}
                    {{!--    <button id="send-message" class="btn btn-primary">--}}
                    {{!--        <span><i class="fa fa-envelope fa-tools"></i>Send Message</span>--}}
                    {{!--    </button>--}}
                    {{!--</div>--}}
                    {{!--<div class="row profile-data-container">--}}
                    {{!--    <div class="profile-data-row">--}}
                    {{!--        <span id="profile-location">Raleigh, NC</span>--}}
                    {{!--    </div>--}}
                    {{!--    <div class="profile-data-row">--}}
                    {{!--        <span>Member Since <span id="profile-join-date">12/31/2015</span></span>--}}
                    {{!--    </div>--}}
                    {{!--    <div class="profile-data-row">--}}
                    {{!--        <span><span id="profile-disc-count">36</span> Public Discs</span>--}}
                    {{!--    </div>--}}
                    {{!--</div>--}}
                </ul>
                <ul class="nav-sidebar" id="sidebar-inbox" style="display: none;">
                    <h5 class="sidebar-section-header"><span>Inbox</span><hr /></h5><div class="clearfix"></div>
                    <ul class="thread-container-list" id="inbox-list">
                    </ul>
                </ul>
            </div>
            <div class="page-view">
                <div class="page" id="pg-modify-disc">
                    <div class="row">
                        <div class="page-title"><span></span> Disc
                            <a href="#" id="clear-modify-disc-form">Clear Form</a>
                        <hr></div>
                    </div>
                    <div id="disc-action-container">
                        <form class="form-horizontal" id="modify-disc-form" role="form" discId="" autocomplete="off">
            				<div class="form-group">
            	                <label class="col-sm-2 control-label"><span class="required-field">* </span>Brand</label>
            	                <div class="col-sm-4">
            	                    <input type="text" id="disc-brand" class="form-control text-assist" param="brand">
            	                </div>
            	                <label class="col-sm-2 control-label"><span class="required-field">* </span>Name</label>
            	                <div class="col-sm-4">
            	                    <input type="text" id="disc-name" class="form-control text-assist" param="name">
            	                </div>
            	            </div>
            	             <div class="form-group">
            	                <label class="col-sm-2 control-label">Type</label>
            	                <div class="col-sm-4">
            	                    <select id="disc-type" class="form-control" param="type">
            	                        <option value=""' + (isEdit ? '' : 'selected') + '></option>
            	                        {{!--<option value=""' + (isEdit ? '' : 'selected') + '></option>--}}
            	                        <option value="Distance Driver">Distance Driver</option>
            	                        <option value="Fairway Driver">Fairway Driver</option>
            	                        <option value="Mid-range">Mid-range</option>
            	                        <option value="Putt/Approach">Putt/Approach</option>
            	                        <option value="Mini">Mini</option>
            	                     </select>
            	                </div>
            	                <label class="col-sm-2 control-label">Material</label>
            	                <div class="col-sm-4">
            	                    <input type="text" id="disc-material" class="form-control text-assist" param="material">
            	                </div>
            	            </div>
            	            <div class="form-group">
            	                <label class="col-sm-2 control-label">Weight</label>
            	                <div class="col-sm-4">
            	                    <input type="text" id="disc-weight" class="form-control text-assist number-validate" param="weight">
            	                </div>
            	                <label class="col-sm-2 control-label">Color</label>
            	                <div class="col-sm-4">
            	                    <input type="text" id="disc-color" class="form-control text-assist" param="color">
            	                </div>
            	            </div>
            	            <div class="accordion-container">
            	            	<div class="accordion-header">
            	                    <label class="no-select" param="advanced"><span><i class="fa fa-chevron-right fa-tools"></i></span>Advanced</label>
            	                </div>
            	                <div class="advanced-area collapse" id="collapseAdvanced">
            			            <div class="form-group">
            			                <label class="col-sm-3 control-label">Speed</label>
            			                <div class="col-sm-3">
            			                    <input type="text" id="disc-speed" class="form-control text-assist weight-number-validate" param="speed">
            			                </div>
            			                <label class="col-sm-3 control-label">Glide</label>
            			                <div class="col-sm-3">
            			                    <input type="text" id="disc-glide" class="form-control text-assist number-validate" param="glide">
            			                </div>
            			            </div>
            			            <div class="form-group">
            			                <label class="col-sm-3 control-label">Turn</label>
            			                <div class="col-sm-3">
            			                    <input type="text" id="disc-turn" class="form-control text-assist number-validate" param="turn">
            			                </div>
            			                <label class="col-sm-3 control-label">Fade</label>
            			                <div class="col-sm-3">
            			                    <input type="text" id="disc-fade" class="form-control text-assist number-validate" param="fade">
            			                </div>
            			            </div>
            			            <div class="form-group tag-input-group">
            			                <label class="col-sm-2 control-label">Tags</label>
            			                <div class="col-sm-10">
            			                    <div style="position:relative">
            			                        <div class="input-group add-disc-tag-container">
            			                            <input type="text" class="form-control add-disc-tag">
            			                            <span class="input-group-btn">
            			                                <button class="btn btn-default add-custom-tag" type="button"><span><i class="fa fa-angle-double-down"></i></span></button>
            			                            </span>
            			                        </div>
            			                    </div>
            			                </div>
            			                <div class="col-sm-10 col-sm-offset-2">
            			                    <div class="tag-list-container">
            			                    </div>
            			                </div>
            			            </div>
            			            <div class="form-group">
            			                <label class="col-sm-2 control-label">Notes</label>
            			                <div class="col-sm-10">
            			                    <textarea id="disc-notes" class="form-control create-disc-textarea" rows="3" param="notes"></textarea>
            			                </div>
            			            </div>
            			            <div class="form-group">
            			                <label class="col-sm-2 control-label">Public</label>
            			                <div class="col-sm-4">
            			                    <input type="checkbox" name="visible" param="visible" id="disc-visibility">
            			                </div>
            			                <label class="col-sm-3 control-label allow-icon">Condition<i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="condition"></i></label>
            			                <div class="col-sm-3">
            			                    <input type="text" id="disc-condition" class="form-control text-assist condition-number-validate" param="condition">
            			                </div>
            			            </div>
            	                </div>
            	            </div>
            	            <div class="image-accordion-area">
            		            <div class="accordion-container">
            		                <div class="accordion-header">
            		                    <label class="current-images-label no-select" param="current-images"><span><i class="fa fa-chevron-right fa-tools"></i></span>Current Pictures</label>
            		            	</div>
            		            	<div class="current-images-panel-collapse collapse" id="collapseCurrentImages">
            				            <div class="image-list">
            				                <div class="image-list-container image-list-container-simple">
            				                    <div class="image-list-table" id="existing-image-list">
            				                    </div>
            				                </div>
            				            </div>
            				        </div>
            			        </div>
            		            <div class="accordion-container">
            		                <div class="accordion-header">
            		                    <label class="add-images-label no-select" param="dropzone"><span><i class="fa fa-chevron-right fa-tools"></i></span>Add Pictures</label>
            		                </div>
            		                <div class="dropzone-panel-collapse collapse" id="collapseDropzone">
            		                    <div class="image-list dropzone-area">
            		                        <div class="image-list-container" id="dropzone-container">
            		                            <div class="image-list-table" id="dropzone-previews">
            		                                <div class="image-item-container image-add" id="dropzone-trigger">
            		                                    <div class="image-item">
            		                                        <div class="image-entity">
            		                                            <span class="image-default"><i class="fa fa-camera-retro fa-5x"></i></span>
            		                                        </div>
            		                                    </div>
            		                                </div>
            		                            </div>
            		                        </div>
            		                    </div>
            		                </div>
            		            </div>
            	            </div>
            	            <div class="modify-button-container">
    		                    <button type="button" class="btn btn-primary" fn-title="save" discId=''><span><i class="fa fa-save fa-tools"></i></span>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page" id="pg-inbox">
                    <div class="row">
                        <div class="page-title">Thread: <span id="thread-title"></span><hr></div>
                    </div>
                    <div id="message-container">
                    </div>
                    <div id="add-message-container">
                        <div class="send-container">
                            <span class="send-container-inner">
                                <div id="send-message-btn" class="hover-active"><span>Send <i class="fa fa-spinner fa-pulse" style="display: none;"></i></span></div>
                            </span>
                        </div>
                        <div class="add-message-text">
                            <textarea placeholder="Enter Message..." id="new-message"></textarea>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="create-message-option no-select"><span id="message-on-enter"><i class="fa fa-check-square"></i> Send Message on Enter</span></div>
                    </div>
                </div>
                <div class="page" id="pg-dashboard">
                    <div class="row">
                        <div class="page-title">Dashboard<hr></div>
                    </div>
                    <div class="row">
                        <div class="disc-inventory-header" id="inventory-header">
                            <div class="header-static header-row no-select">
                                <div class="div-inline float-left" style="width: 40%">
                                    <p class="form-control-static header-text">Display:</p>
                                    <select class="header-select" id="paginate-display-count">
                                        <option value="20">20</option>
                                        <option value="40">40</option>
                                        <option value="60">60</option>
                                        <option value="80">80</option>
                                        <option value="100">100</option>
                                        <option value="All">All</option>
                                    </select>
                                    <span id="results-header-sort">
                                        <i class="fa fa-sort"></i> Sort
                                    </span>
                                    <span id="results-header-filter">
                                        <i class="fa fa-filter"></i> Filter
                                        <span id="filter-count"></span>
                                    </span>
                                </div>
                                <div class="div-inline float-left text-center" style="width: 20%">
                                    <ul class="list-inline form-control-static" id="paginate-nav">
                                        <li class="page-static" id="page-back"><span class="glyphicon glyphicon-chevron-left"></span></li>
                                        <li class="page-static" id="page-forward"><span class="glyphicon glyphicon-chevron-right"></span></li>
                                    </ul>
                                </div>
                                <div class="div-inline float-left" style="width: 40%">
                                    <div class="div-inline float-right header-text text-right" id="results-header-count">
                                        Results: 0
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="header-dynamic header-row" id="disc-inventory-header-dynamic">
                                <div class="header-sort-container">
                                    <div class="current-sort-container">
                                    </div>
                                    <div class="add-sort-container no-select">
                                        <div class="text-center"><span><i class="fa fa-plus-circle"></i></span> Add Field</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="disc-inventory-container">
                            <div class="disc-inventory-body" id="filter-results">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" id="pg-gallery">
                    <div class="row">
                        <div class="page-title">Gallery<hr></div>
                    </div>
                    <div id="gallery-container"></div>
                </div>
                <div class="page" id="pg-statistics">
                    <div class="row">
                        <div class="page-title">Statistics<hr></div>
                    </div>
                    <div class="row">
                        <div class="statistics-settings">
                            <div class="form-horizontal form-small">
                                <div class="form-group">
                                    <label for="graph-base" class="col-sm-3 col-sm-offset-1 control-label">Graph By
                                        <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="graph-base"></i>
                                    </label>
                                    <div class="col-sm-5">
                                        <select id="graph-base" class="form-control">
                                            <option value="brand">Brand</option>
                                            <option value="type">Type</option>
                                            <option value="material">Material</option>
                                            <option value="weight">Weight</option>
                                            <option value="color">Color</option>
                                            <option value="speed">Speed</option>
                                            <option value="glide">Glide</option>
                                            <option value="turn">Turn</option>
                                            <option value="fade">Fade</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="graph-type" class="col-sm-3 col-sm-offset-1 control-label">Graph Type
                                        <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="graph-type"></i>
                                    </label>
                                    <div class="col-sm-5">
                                        <select id="graph-type" class="form-control">
                                            <option value="pie">Pie</option>
                                            <option value="column">Column</option>
                                            <option value="doughnut">Doughnut</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-4">
                                        <button id="render-graph" class="btn btn-primary pull-right">Render</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    <div class="row statistics-container">
                        <div id="statistics-plot"></div>
                    </div>
                </div>
                <div class="page" id="pg-settings">
                    <div class="row">
                        <div class="page-title">Account Settings<hr></div>
                    </div>
                    <div class="row">
                        <div class="profile-image">
                            {{#if user.local.image}}
                            <img src="{{user.local.image}}" />
                            {{else}}
                            <span class="user-default-image"><i class="fa fa-user"></i></span>
                            {{/if}}
                        </div>
                        <div class="profile-status">
                            <div class="data-table">
                                <div class="data-row">
                                    <div class="data-label">Username:</div>
                                    <div class="data-value">{{user.local.email}}</div>
                                </div>
                                <div class="data-row">
                                    <div class="data-label">Status:</div>
                                    {{#if user.local.active}}
                                    <div class="data-value">Active</div>
                                    {{else}}
                                    <div class="data-value">Inactive</div>
                                    {{/if}}
                                </div>
                                <div class="data-row">
                                    <div class="data-label">Facebook:</div>
                                    {{#if user.facebook.id}}
                                    <div class="data-value">Linked</div>
                                    {{else}}
                                    <div class="data-value">Not Linked</div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Personal Information</div>
                        <div class="form-horizontal form-small" id="accountForm">
                            <div class="form-group">
                                <label for="accountAllias" class="col-sm-3 control-label">Alias
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="account-alias"></i>
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="accountAlias" placeholder="Alias" value="{{user.local.alias}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="accountZipCode" class="col-sm-3 control-label">Zip Code</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="accountZipCode" placeholder="Zip Code" value="{{user.local.zipCode}}">
                                </div>
                                <div class="col-sm-6 lh-input" id="accountCityState">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="accountPDGA" class="col-sm-3 control-label">PDGA Number</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="accountPDGA" placeholder="PDGA Number" value="{{user.local.pdgaNumber}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="accountSave" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Actions</div>
                        <div class="form-horizontal form-small" id="accountActionsForm">
                            <div class="password-accordion-container">
                                <div class="form-group">
                                    <label id="password-accordion-label" class="no-select col-sm-12" aria-expanded="false" aria-controls="expand-change-password">
                                        <span><i class="fa fa-chevron-right fa-tools"></i></span>Change Password
                                    </label>
                                </div>
                                <div class="collapse" id="expand-change-password">
                                    <div class="form-group">
                                        <label for="current-password" class="col-sm-4 col-sm-offset-1 control-label">Current Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="current-password" placeholder="Current Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password" class="col-sm-4 col-sm-offset-1 control-label">New Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="new-password" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm-password" class="col-sm-4 col-sm-offset-1 control-label">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    <div class="col-sm-12">
                                        <button id="change-password-save" class="btn btn-primary pull-right">Save</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4 form-center">
                                    <a href="/account/link">
                                        <button id="facebook-link" class="btn btn-primary"><span><i class="fa fa-facebook-square fa-tools"></i></span>Manage Facebook</button>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4 form-center">
                                    <button id="account-delete" class="btn btn-danger"><span><i class="fa fa-minus-circle fa-tools"></i></span>Delete Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" id="pg-preferences">
                    <div class="row">
                        <div class="page-title">Preferences
                            <a href="#" id="default-settings-restore">Restore Default Preferences</a>
                        <hr></div>
                    </div>
                    <div class="row">
                        <div class="row-label">Default Settings</div>
                        <div class="form-horizontal form-small" id="preferences-form">
                            <div class="form-group">
                                <label for="default-view" class="col-sm-3 control-label">View
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="default-view"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="default-view" class="form-control">
                                        <option value="dashboard">Dashboard</option>
                                        <option value="gallery">Gallery</option>
                                        <option value="statistics">Statistics</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="display-count" class="col-sm-3 control-label">Display Count
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="display-count"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="display-count" class="form-control">
                                        <option value="20">20</option>
                                        <option value="40">40</option>
                                        <option value="60">60</option>
                                        <option value="80">80</option>
                                        <option value="100">100</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="items-per-row" class="col-sm-3 control-label">Items Per Row
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="items-per-row"></i>
                                </label>
                                <div class="col-sm-5">
                                    <select id="items-per-row" class="form-control">
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort-order-primary" class="col-sm-3 control-label">Primary Sort
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="primary-sort"></i>
                                </label>
                                <div class="col-sm-4">
                                    <select id="sort-order-primary" class="form-control">
                                        <option value="brand">Brand</option>
                                        <option value="name">Name</option>
                                        <option value="type">Type</option>
                                        <option value="material">Material</option>
                                        <option value="weight">Weight</option>
                                        <option value="color">Color</option>
                                        <option value="speed">Speed</option>
                                        <option value="glide">Glide</option>
                                        <option value="turn">Turn</option>
                                        <option value="fade">Fade</option>
                                    </select>
                                </div>
                                <label for="sort-order-primary-direction" class="col-sm-2 control-label">Direction</label>
                                <div class="col-sm-3">
                                    <select id="sort-order-primary-direction" class="form-control">
                                        <option value="Ascending">Ascending</option>
                                        <option value="Descending">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort-order-secondary" class="col-sm-3 control-label">Secondary Sort
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="secondary-sort"></i>
                                </label>
                                <div class="col-sm-4">
                                    <select id="sort-order-secondary" class="form-control">
                                        <option value="brand">Brand</option>
                                        <option value="name">Name</option>
                                        <option value="type">Type</option>
                                        <option value="material">Material</option>
                                        <option value="weight">Weight</option>
                                        <option value="color">Color</option>
                                        <option value="speed">Speed</option>
                                        <option value="glide">Glide</option>
                                        <option value="turn">Turn</option>
                                        <option value="fade">Fade</option>
                                    </select>
                                </div>
                                <label for="sort-order-secondary-direction" class="col-sm-2 control-label">Direction</label>
                                <div class="col-sm-3">
                                    <select id="sort-order-secondary-direction" class="form-control">
                                        <option value="Ascending">Ascending</option>
                                        <option value="Descending">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox" id="enable-secondary-sort"> Enable Secondary Sort
                                            <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="enable-secondary-sort"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="default-settings-save" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-label">Colorize</div>
                        <div class="form-horizontal form-small" id="colorize-form">
                            <div class="form-group">
                                <label for="colorize-visibility" class="col-sm-6 control-label">Colorize Visibility
                                    <i class="fa-hover-black fa fa-question-circle fa-pad-left fa-dim" data-toggle="tooltip" tt="colorize-visibility"></i>
                                </label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="colorize-visibility">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-distance-driver" class="col-sm-6 control-label colorize-label">Distance Driver</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-distance-driver"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-fairway-driver" class="col-sm-6 control-label colorize-label">Fairway Driver</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-fairway-driver"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-mid-range" class="col-sm-6 control-label colorize-label">Mid-range</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-mid-range"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-putt-approach" class="col-sm-6 control-label colorize-label">Putt/Approach</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-putt-approach"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="colorize-mini" class="col-sm-6 control-label colorize-label">Mini</label>
                                <div class="col-sm-6">
                                    <div class="colorize-container">
                                        <div class="colorize-item" id="colorize-mini"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="colorize-save" class="btn btn-primary pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="/static/js/jquery.canvasjs.min.js"></script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="/static/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>