<!doctype html>
<html>
<head>
    <title>DiscZump - Sign In</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-form-container">
        <div class="login-form-cell">
            <div class="login-form-center">
                <form action="/login" method="post">
                    <h1 class="login-title">Sign in</h1>
                    {{#if message.error}}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Error: </strong>{{message.error}}
                        {{#if message.link.url}}
                            <br />
                            <a href="{{message.link.url}}">{{message.link.text}}</a>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{#if message.info}}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Note: </strong>{{message.info}}
                        {{#if message.link.url}}
                            <br />
                            <a href="{{message.link.url}}">{{message.link.text}}</a>
                        {{/if}}
                    </div>
                    {{/if}}
                    <div class="login-form-stacked">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input class="form-control" id="username" type="email" name="username" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" id="password" type="password" name="password" placeholder="Password">
                        </div>
                        <button id="submit" class="btn btn-submit btn-block" type="submit">Sign in</button>
                    </div>
                    <div class="form-header"><a href="/recover">Forgot Password?</a></div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/validation.js"></script>
</body>
</html>
