{{#section 'head'}}
<head>
    <title>disc|zump - {{notify.pageHeader}}</title>
    {{#if notify.popup}}
        <script>
            $(document).ready(function() {
                $('#close-popup').click(function() {
                    window.close();
                });
            });
        </script>
    {{/if}}
</head>
{{/section}}
<div class="page-container container" style="max-width: 500px !important;">
    <div class="page-header">
        <img src="/static/logo/logo_small_round.svg">
        <h1>{{notify.header}}</h1>
    </div>
    <div class="page-body">
        {{#if notify.strong}}
        <strong>{{notify.strong}}</strong>
        <br />
        <br />
        {{/if}}
        {{#if notify.text}}
        {{notify.text}}
        {{/if}}
        {{#if notify.text2}}
        <br />
        <br />
        <strong>{{#if notify.strong2}}{{notify.strong2}}{{/if}}</strong>
        <br />
        <br />
        {{notify.text2}}
        {{/if}}
    </div>
    <div style="text-align: right">
        {{#if notify.popup}}
        <a class="btn btn-wide btn-primary" id="close-popup">
            <i class="fa fa-close pull-left"></i>Close Window</a>
        {{else}}
        <a class="btn btn-wide btn-primary" href="{{notify.buttonLink}}">
            {{#if notify.buttonIcon}}<i class="fa {{notify.buttonIcon}} pull-left"></i> {{/if}}{{notify.buttonText}}</a>
        {{/if}}
    </div>
</div>