<!doctype html>
<html>
<head>
    <title>DiscZump - {{notify.pageHeader}}</title>
</head>
<body>
    <div class="page-container container">
        <div class="page-header">
            <img src="/static/logo/logo_small_round.svg">
            <h1>{{notify.header}}</h1>
        </div>
        <div class="page-body">
            {{#if notify.strong}}
            <strong>{{notify.strong}}</strong>
            <br />
            <br />
            {{/if}}
            {{#if notify.text}}
            {{notify.text}}
            {{/if}}
            {{#if notify.text2}}
            <br />
            <br />
            <strong>{{#if notify.strong2}}{{notify.strong2}}{{/if}}</strong>
            <br />
            <br />
            {{notify.text2}}
            {{/if}}
        </div>
        <div style="text-align: right">
            <a class="btn btn-wide btn-primary" href="{{notify.buttonLink}}">
                {{#if notify.buttonIcon}}<i class="fa {{notify.buttonIcon}} pull-left"></i> {{/if}}{{notify.buttonText}}</a>
        </div>
    </div>
</body>
</html>
