{{#section 'head'}}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/lib/css/angular-ui-switch.min.css">
    <link rel="stylesheet" href="/static/lib/css/ng-sortable.min.css">

	{{#if isRelease}}
    <link rel="stylesheet" href="/static/src/css-dist/animate.min.css">
    <link rel="stylesheet" href="/static/src/css-dist/main.min.css">
	{{else}}
    <link rel="stylesheet" href="/static/src/css/animate.css">
    <link rel="stylesheet" href="/static/src/css/main.css">
	{{/if}}

	<script>
		window.serverURL = '{{serverURL}}';
		window.fbId = '{{fbId}}';
    window.googleId = '{{googleId}}'
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDgtLJm5I5DaIQzMm6uErb0t7PTiG1gpE0"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="https://cdn.rawgit.com/jashkenas/underscore/master/underscore.js"></script>
    <script src="https://cdn.rawgit.com/ocombe/ocLazyLoad/master/dist/ocLazyLoad.js"></script>
    <script src="https://cdn.rawgit.com/d-oliveros/ngSmoothScroll/master/lib/angular-smooth-scroll.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

    <script src="/static/lib/js/angular-ui-switch.min.js"></script>
    <script src="/static/lib/js/ng-sortable.min.js"></script>

	{{#if isRelease}}
    <script src="/static/src/js-dist/main.min.js"></script>
    <script src="/static/src/js-dist/controllers.min.js"></script>
    <script src="/static/src/js-dist/services.min.js"></script>
	{{else}}
    <script src="/static/src/js/main.js"></script>
    <script src="/static/src/js/controllers.js"></script>
    <script src="/static/src/js/services.js"></script>
	{{/if}}

    <base href="/">

{{/section}}
<body ng-app="disczump" class="ng-cloak" ng-controller="MainController">
    <div class="app main-app min-window-width">
        <ng-view autoscroll="true"></ng-view>
    </div>
</body>
